# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask file to keep environment variables
.flaskenv

# Pytest cache
.cache
.pytest_cache/

# Virtual environments
venv/

# IDE folders
.idea/
.vscode/

# Database files (if SQLite for example)
*.db
*.db-journal

# Log files
*.log

# Temporary files
*.tmp

# Docker artifacts
*.dockerignore
docker-compose.yml
docker-compose.override.yml
live-docker-compose.yml
devops-docker-compose.yml
