

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bmit-styles.css') }}">

    <title>Location Info: Back to Company Info</title>
    
</head>
<body>

<div id="form-container">
    <div id="form3D">
        <!-- GIF Container -->
        <div class="gif-container">
            <div class="logo-text">Battle Mountain</div>
            <div class="logo-text">Support</div>
            <img class="logo" src="{{ url_for('static', filename='Logo.gif') }}" alt="Your GIF">
            <div class="logo-text">
              <a href="{{ url_for('company_info', cid=location['cid']) }}" class="button-link"> {{ company_name }}</a>  
            </div>
            
            <div class="lab-text"> Location: {{ location['name'] }}</div>
        </div>
        <div class="card">
            <div class="card-body">
              <h2>Basic Information</h2>
              <ul>
                <li><strong>Address:</strong> {{ location['address'] }}</li>
                <li><strong>City:</strong> {{ location['city'] }}</li>
                <li><strong>ZIP:</strong> {{ location['zip'] }}</li>
              </ul>
              <a href="{{ url_for('location_support', cid=location['cid'], lid=location['lid']) }}" class="button">Support</a>
              <a href="{{ url_for('show_qr', cid=location['cid'], lid=location['lid']) }}" class="button">QR</a>
            </div>
          </div>
          
          <div class="card">
            <div class="card-title">Requests at this Location</div>
            <div class="card-body">
              <ul>
                {% for request in requests %}
                  <a class="button-link" href="{{ url_for('view_request', cid=request['cid'], lid=request['lid'], uid=request['uid'], rid=request['rid']) }}">{{ request['first_name'] }}</a> {{ request['first_name'] }} {{ request['last_name'] }} - {{ request['description'] }}
                  <br>
                  <br>
                {% endfor %}
              </ul>
            </div>
          </div>
        
          <div class="card">
            <div class="card-body">
              <li><strong>LID:</strong> {{ location['lid'] }}</li>
              <form action="{{ url_for('remove_location', lid=location['lid']) }}" method="post">
                <input type="submit" class="button" value="Remove Location">
              </form>
            </div>
          </div>  
          <p><a href="{{ url_for('company_info', cid=location['cid']) }}" class="button">Back to Company Info</a></p>
          
    </div>
</div>

<script>
    // Enable 3D effect only on non-mobile devices
    if (window.innerWidth > 768) {
      let Rot = 1
      document.addEventListener('mousemove', function(event) {
        const x = (event.clientX / window.innerWidth - 0.5) * 2;
        const y = (event.clientY / window.innerHeight - 0.5) * 2;
        const form3D = document.getElementById('form3D');
        form3D.style.transform = `rotateX(${y * -Rot}deg) rotateY(${x * Rot}deg)`;
      });
    }
  </script>
</body>
</html>
