<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bmit-styles.css') }}">

    <title>Interactive 3D Form</title>
</head>
<body>
  <div id="form-container">
    <div id="form3D">
        <form method="post">
            <!-- GIF Container -->
            <div class="gif-container">
                <div class="logo-text">Battle Mountain</div>
                <div class="logo-text">Support</div>
                <img class="logo" src="{{ url_for('static', filename='Logo.gif') }}" alt="Your GIF">
                <div class="logo-text">Company: {{company_name}}</div>
                <div class="logo-text">Location: {{location_name}}</div>
            </div>

                
            </br>
        
            <!-- Contact Information -->
            <div class="section">
                <div class="lab-text">Contact Information</div>
                </br>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name" required><br>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name" required><br>
                <label for="phone">Phone Number:</label>
                <input type="text" name="phone" id="phone" required><br>
                <label for="email">Eamil:</label>
                <input type="text" name="email" id="email" required><br>
            </div>
            
            <!-- Request Information -->
            <div class="lab-text">Request Information</div>
            <div class="section">
                
                </br>
                <label   for="type">Request Type:</label>
                <select id="type" name="type" required>
                    <option value="hardware">Hardware</option>
                    <option value="software">Software</option>
                    <option value="network">Network</option>
                    <option value="security">Security</option>
                </select><br>

                <label for="priority">Priority:</label>
                <select id="priority" name="priority" required>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                    <option value="critical">Critical</option>
                </select><br>

                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea><br>
            </div>
            <!-- OTP -->
            <div class="section">
                <div class="lab-text">OTP Verification</div>
                
                </br>
                
                <label for="auth">Enter OTP:</label>
                <input type="text" name="auth" id="auth" required><br>
            </div>
  
            <input type="submit" value="Submit Request">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </form>
    </div>
  </div>

  <script>
    // Enable 3D effect only on non-mobile devices
    if (window.innerWidth > 768) {
      let Rot = 1
      document.addEventListener('mousemove', function(event) {
        const x = (event.clientX / window.innerWidth - 0.5) * 2;
        const y = (event.clientY / window.innerHeight - 0.5) * 2;
        const form3D = document.getElementById('form3D');
        form3D.style.transform = `rotateX(${y * -Rot}deg) rotateY(${x * Rot}deg)`;
      });
    }
  </script>
</body>
</html>
